@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: theme(colors.elem-dark-1) theme(colors.elem-dark-2);
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: theme(colors.elem-dark-1);
}

*::-webkit-scrollbar-thumb {
  background-color: theme(colors.elem-dark-2);
  border-radius: 14px;
}

@layer base {
  html {
    font-family: "Josefin Sans", sans-serif;
  }
}

@layer utilities {
  .checkbox {
    @apply rounded-full border-none relative top-[-0.05rem] z-20 bg-transparent text-transparent focus:ring-2 focus:ring-offset-0 w-[25px] h-[25px] cursor-pointer;
  }
}
